<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 file-manager-wrapper">
      <!-- Content here -->

      <!-- Global header wrapper -->
      <div class="row">
        <div class="col-md-4">
          <!-- Breadcrumb -->
          <div class="cs-breadcrumb">
            <ul>
              <li><a href="#">Folder name</a></li>
              <li><span class="active">Active folder</span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 pull-right">
          <!-- Global Option -->
          <div class="global-option">
            <ul>
              <li><a href="#">Upload</a></li>
              <li><a href="#">New folder</a></li>
              <li>
                <form class="form-inline">
                  <div class="form-group">
                    <input type="text" name="search" placeholder="Search" class="form-control">
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <!-- File Options -->
      <div class="file-option">
        <ul>
          <li>Filename</li>
          <li><a href="#">Open</a></li>
          <li><a href="#">Delete</a></li>
          <li><a href="#">Rename</a></li>
          <li><a href="#">Move</a></li>
          <li><a href="#">Copy</a></li>
        </ul>
      </div>

      <!-- Header -->
      <div class="row table-header">
        <div class="col-md-4">
          <a href="#"><span>Name</span></a>
        </div>
        <div class="col-md-2">
          <a href="#"><span>Size</span></a>
        </div>
        <div class="col-md-3">
          <a href="#"><span>Type</span></a>
        </div>
        <div class="col-md-3">
          <a href="#"><span>Modified</span></a>
        </div>
      </div>

      <div class="file-list-wrapper">
        <div class="row file-list-row">
          <div class="col-md-4 file-list-cell">
            <a href="#">
              <i class="fa fa-file-o fa-fw fa-lg"></i> <span>Folder Test</span>
            </a>
          </div>
          <div class="col-md-2 file-list-cell">
            <span>15MB</span>
          </div>
          <div class="col-md-3 file-list-cell">
            <span>folder</span>
          </div>
          <div class="col-md-3 file-list-cell">
            <span>2016-08-04 12:00:00</span>
          </div>
        </div>
      </div>
      <!-- end content -->

    </div>
  </div>
</div>