<!-- File Options -->
<div class="file-option">
  <ul>
    <li>Filename</li>
    <li><a href="#">Open</a></li>
    <li><a href="#">Delete</a></li>
    <li><a href="#">Rename</a></li>
    <li><a href="#">Move</a></li>
    <li><a href="#">Copy</a></li>
  </ul>
</div>

<!-- Header -->
<div class="row table-header">
  <div class="col-md-4">
    <a href="#"><span>Name</span></a>
  </div>
  <div class="col-md-2">
    <a href="#"><span>Size</span></a>
  </div>
  <div class="col-md-3">
    <a href="#"><span>Type</span></a>
  </div>
  <div class="col-md-3">
    <a href="#"><span>Modified</span></a>
  </div>
</div>